.list-details {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.list-details button {
    width: 170px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.edit {
    background-color: #5c9ded;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 150px;
}

button:hover {
    background-color: #4a8cce;
}

h2,
h3 {
    color: #333;
}

p {
    color: #555;
}