.profile {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2,
h3 {
    color: #555;
}

button {
    background-color: #5c9ded;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #4a8cce;
}